.header {
  height: 1.32rem;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  line-height: 1.32rem;
  border-bottom: 0.03rem solid #ddd;
  box-shadow: 0.03rem 0 0.03rem #ddd;
}
.header img {
  width: 4rem;
}

.footer {
  border-top: 0.02rem solid #ddd;
  height: 1.47rem;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: -0.03rem 0 0.03rem #ddd;
}
.footer a {
  color: #292929;
  padding-top: 0.3rem;
  width: 20%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer a .iconfont {
  font-size: 0.6rem;
}
.footer a p {
  padding-top: 0.1rem;
  font-size: 0.28rem;
  font-weight: bolder;
}
.footer .active {
  color: #17c183;
}
