.header {
  height: 1.32rem;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  line-height: 1.32rem;
  border-bottom: 0.02rem solid #ddd;
}
.header img {
  width: 4rem;
}

.content {
  position: absolute;
  width: 100%;
  background: white;
  top: 1.32rem;
  bottom: 1.47rem;
  overflow: hidden;
}
