.wrap {
    height: 100%;
    width: 100%;


    header {
        height: 1.32rem;
        border-bottom: 0.03rem solid #ddd;
        box-shadow: 0.03rem 0 0.03rem #ddd;
        display: flex;
        justify-content: space-between;
        line-height: 1.32rem;
        box-sizing: border-box;
        /* padding: 0 0.4rem; */
        font-size: 0.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        .iconfont {
            font-size: 0.5rem;
            transform: rotate(180deg);
            padding: 0 0.4rem;
        }
        .right {
            visibility: hidden;
        }
    }



    #endPlace {
        display: block;
        height: 1.5rem;
        width: 90%;
        margin: 0.3rem 5%;
        box-sizing: border-box;
        font-size: 0.6rem;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        color: #333;
        border-radius: 0.14rem
    }

    #userPlace{
        display: block;
        height: 1.5rem;
        width: 90%;
        margin: 0.3rem 5%;
        box-sizing: border-box;
        font-size: 0.6rem;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        color: #333;
        border-radius: 0.14rem
    }

    #time{
        display: block;
        height: 1.5rem;
        width: 90%;
        margin: 0.3rem 5%;
        box-sizing: border-box;
        font-size: 0.6rem;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        color: #333;
        border-radius: 0.14rem;
        outline: none;
        
    }

    #ideaOfTour {
        display: block;
        height: 6rem;
        width: 90%;
        margin: 0.3rem 5%;
        box-sizing: border-box;
        font-size: 0.6rem;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        color: #333;
        border-radius: 0.14rem;
    }

    .send {
        display: block;
        height: 1.5rem;
        width: 90%;
        margin: 0.3rem 5%;
        box-sizing: border-box;
        font-size: 0.6rem;
        line-height: 1.5rem;
        padding: 0 0.4rem;
        color: white;
        background: #17c183;
        border: none;
        border-radius: 0.14rem;
    }

}