.header {

    height: 1.32rem;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    line-height: 1.32rem;
    border-bottom: 0.01rem solid #ddd;

    img {
        width: 4rem;
    }
}


.content {
    position: absolute;
    width: 100%;
    background: white;
    top: 44px;
    bottom: 49px;
    overflow: hidden;
}

.footer {
    border-top: 0.01rem solid #ddd;
    height: 1.47rem;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: -0.02rem 0 0.02rem #ddd;

    a {
        // line-height: 1.47rem;
        color: #292929;
        padding-top: 0.3rem;
        width: 20%;

        .iconfont {
            font-size: 0.6rem;
        }

        p {
            padding-top: 0.1rem;
            font-size: 0.28rem;
            font-weight: bolder;
        }
    }

    .active {
        color: #f5936c;
    }

}