<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/follower.css">

    <style>



    </style>

</head>

<body>

    <div class="wrap">

        <header>
            <span class="iconfont icon-jiantouyou left"></span>

            <span class="mid">粉丝</span>

            <span class="iconfont icon-jiantouyou right"></span>

        </header>



        <div class="slide-box">
            <div class="list-items">
                <!-- <div class="item">
                    <div class="left">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1570252146141&di=c62cb7d80e1d23e17516c6511b09cd0e&imgtype=0&src=http%3A%2F%2Fpic3.zhimg.com%2F50%2Fv2-dae702738ed0a8aa674e5d68d6eaf7e0_hd.jpg"
                            alt="">
                       <p>士大夫士大夫卢阿红了</p>
                    </div>

                    <div class="right">
                        <span class="iconfont icon-xiaoxi1"></span>
                    </div>
                </div> -->
            </div>

        </div>



    </div>



    <script src="../static/scripts/iscroll-probe.js"></script>
    <script src="../static/scripts/flexible.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/zepto.min.js"></script>
    <!-- <script src="../static/scripts/footernav.js"></script> -->
    <script src="../static/scripts/api.js"></script>
    <!-- <script src="../static/scripts/myscroll.js"></script> -->
    <script src="../static/scripts/follower.js"></script>



</body>

</html>