<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">
    <link rel="stylesheet" href="../static/css/footernav.css">

</head>

<body>


    <header class="header">
        <img src="../static/images/logo.png" alt="">
    </header>

    <main class="content">

        <div class="userInfo">

            <div class="userPic">
                <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=530845037,1350131942&fm=26&gp=0.jpg"
                    alt="" srcset="">
            </div>

        </div>


        <div class="userId">
            <span class="user">东东和北北</span>
        </div>

        <div class="followBox">
            <div class="following">
                <p class="followingNum">8</p>
                <span>关注</span>
            </div>

            <div class="follower">
                <p class="followerNum">9</p>
                <span>粉丝</span>
            </div>
        </div>

        <div class="setting tourBefore">
            <span>之前的旅行</span>
            <span class="iconfont icon-jiantouyou"></span>
        </div>
        <div class="setting editUserName">
            <span>修改用户名</span>
            <span class="iconfont icon-jiantouyou"></span>
        </div>

        <div class="setting contractUs">
            <span>有问题或疑惑？联系我们</span>
            <span class="iconfont icon-jiantouyou"></span>
        </div>

        <div class="logOut">
            退出当前账号
        </div>
    </main>


    <footer class="footer">
        <a href="findtour.html" data-id="0">
            <span class="iconfont icon-travel-tourism_sunbe"></span>
            <p>发现旅行</p>
        </a>
        <a href="settour.html" data-id="1">
            <span class="iconfont icon-travel-tourism_summe "></span>
            <p>创建旅行</p>
        </a>
        <a href="mymess.html" data-id="2">
            <span class="iconfont icon-xiaoxi"></span>
            <p>我的消息</p>
        </a>
        <a href="mine.html" class="active" data-id="3">
            <span class="iconfont icon-gerenzhongxin4  "></span>
            <p>个人中心</p>
        </a>
    </footer>


    <script src="../static/scripts/flexible.js"></script>
    <script src="../static/scripts/zepto.min.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/footernav.js"></script>
    <script src="../static/scripts/mine.js"></script>
</body>

</html>