<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/mymess.css">
    <link rel="stylesheet" href="../static/css/footernav.css">

</head>

<body>

    <header class="header">
        <img src="../static/images/logo.png" alt="">
    </header>

    <main class="content">
        <div class="slide-box">
            
            <!-- <div class="item">

                <div class="userPic">
                    <img src="http://img3.imgtn.bdimg.com/it/u=3583433020,118316633&fm=26&gp=0.jpg" alt="">
                </div>
                <div class="userMess">
                    <p class="tourInfo"><span class="city">深圳</span>&nbsp;&nbsp; <span class="endtime">2018-5-2</span>  </p>
                    <p class="time">23秒前</p>
                    <p class="sentence"><span class="user">连那你：</span>上的飞机卢卡斯撒旦发射点发射斯撒旦发射点发射斯撒旦发射点发射斯撒旦发射点发射斯撒旦发射点发射点士大夫的积分觉得浪费空间是</p>
                </div>
            </div> -->

        </div>
    </main>


    <footer class="footer">
        <a href="findtour.html" data-id= "0">
            <span class="iconfont icon-travel-tourism_sunbe"></span>
            <p>发现旅行</p>
        </a>
        <a href="settour.html" data-id= "1">
            <span class="iconfont icon-travel-tourism_summe "></span>
            <p>创建旅行</p>
        </a>
        <a href="mymess.html" class="active" data-id= "2">
            <span class="iconfont icon-xiaoxi"></span>
            <p>我的消息</p>
        </a>
        <a href="mine.html" data-id= "3">
            <span class="iconfont icon-gerenzhongxin4  "></span>
            <p>个人中心</p>
        </a>
    </footer>

    <script src="../static/scripts/api.js"></script>
    <script src="../static/scripts/iscroll-probe.js"></script>
    <script src="../static/scripts/flexible.js"></script>   
    <script src="../static/scripts/zepto.min.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/footernav.js"></script>
    <script src="../static/scripts/mymess.js"></script>
</body>

</html>