<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/settour.css">
    <link rel="stylesheet" href="../static/css/footernav.css">

</head>

<body>


    <header class="header">
        <img src="../static/images/logo.png" alt="">
    </header>

    <main class="content">

    </main>


    <footer class="footer">
        <a href="findtour.html" data-id= "0">
            <span class="iconfont icon-travel-tourism_sunbe"></span>
            <p>发现旅行</p>
        </a>
        <a href="settour.html" class="active" data-id= "1">
            <span class="iconfont icon-travel-tourism_summe "></span>
            <p>创建旅行</p>
        </a>
        <a href="mymess.html" data-id= "2">
            <span class="iconfont icon-xiaoxi"></span>
            <p>我的消息</p>
        </a>
        <a href="mine.html" data-id= "3">
            <span class="iconfont icon-gerenzhongxin4  "></span>
            <p>个人中心</p>
        </a>
    </footer>


    <script src="../static/scripts/flexible.js"></script>
    <script src="../static/scripts/zepto.min.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/footernav.js"></script>
    <script src="../static/scripts/settour.js"></script>
</body>

</html>