<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/top100.css">

    <style>



    </style>

</head>

<body>

    <div class="wrap">

        <header>
            <span class="iconfont icon-jiantouyou left"></span>

            <span class="mid">Top100</span>

            <span class="iconfont icon-jiantouyou right"></span>

        </header>



        <div class="slide-box">
            <div class="list-items">
                
                <!-- <div class="item">'head'

                    <div class="user-add">
                        <div class="user-add-left">
                            <p>终点：<span class="city">香港</span></p>
                            <b>时间：约<span class="city">2019年12月12日</span></b>

                        </div>

                        <div class="user-add-right">
                            <button class="join">立即加入</button>
                        </div>
                    </div>

                    <div class="content">

                        <p class="intro">听说那里的夜景很美，听说化妆品不错，听说吉他很便宜，百闻不入一见,有人一起的吗?</p>


                    </div>


                    <div class="nav">

                        <div class="nav-item user-place-box"><span class="iconfont icon-weizhi"></span> <b
                                class="user-place">深圳</b></div>
                        <div class="nav-item  people-num-box">参与人数: <b class="people-num"> 56</b></div>

                    </div>


                </div>
                <div class="item">

                    <div class="user-add">
                        <div class="user-add-left">
                            <p>终点：<span class="city">香港</span></p>
                            <b>时间：约<span class="city">2019年12月12日</span></b>

                        </div>

                        <div class="user-add-right">
                            <button class="join">立即加入</button>
                        </div>
                    </div>

                    <div class="content">

                        <p class="intro">听说那里的夜景很美，听说化妆品不错，听说吉他很便宜，百闻不入一见,有人一起的吗?</p>


                    </div>


                    <div class="nav">

                        <div class="nav-item user-place-box"><span class="iconfont icon-weizhi"></span> <b
                                class="user-place">深圳</b></div>
                        <div class="nav-item  people-num-box">参与人数: <b class="people-num"> 56</b></div>

                    </div>


                </div> -->


            </div>

        </div>



    </div>



    <script src="../static/scripts/iscroll-probe.js"></script>
    <script src="../static/scripts/flexible.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/zepto.min.js"></script>
    <!-- <script src="../static/scripts/footernav.js"></script> -->
    <script src="../static/scripts/api.js"></script>
    <script src="../static/scripts/myscroll.js"></script>
    <script src="../static/scripts/top100.js"></script>



</body>

</html>