<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iByfk3nGEoPUIxi2fe9yiPc988sE5FpB"></script>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/tourGroup.css">

    <style>



    </style>

</head>

<body>

    <div class="wrap">

        <header>
            <span class="iconfont icon-jiantouyou left"></span>

            <span class="mid">详细信息</span>

            <span class="iconfont icon-jiantouyou right"></span>

        </header>

        <div class="searchbox"  id="allmap">
            
        </div>

        <div class="slide-box">
            <div class="detail">

            </div>
        </div>



    </div>



    <script src="../static/scripts/iscroll-probe.js"></script>
    <script src="../static/scripts/flexible.js"></script>
    <script src="../static/scripts/fastclick.js"></script>
    <script src="../static/scripts/zepto.min.js"></script>
    <!-- <script src="../static/scripts/footernav.js"></script> -->
    <script src="../static/scripts/api.js"></script>
    <!-- <script src="../static/scripts/myscroll.js"></script> -->
    <script src="../static/scripts/tourGroup.js"></script>



</body>

</html>